* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 1em;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: black url(../back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.767);
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px black;
}

img {
    display: block;
    margin: auto;
}

#phone {
    display: block;
}
#tablet {
    display: none;
}
#print {
    display: none;
}
#pc {
    display: none;
}
#tv {
    display: none;
}